a{
  color: red;
}

h1{
  color: white;
  background-color: #000080;
  padding: 5px;
}

h2{
  color:#8b0000;
}

a:hover{
  color: yellow;
}

a:visited{
  color: green;
}

span{
  color: red;
}

#specialid {
  color: #000080;
  font-weight: bold;
}

.specialp{
  color: #DAA520;
}

div{
  color: #DAA520;
}
